<div class="container">
  <div class="list-group">
    <a href="http://25.3.0.72:3000/rsspack" class="list-group-item list-group-item-action">
      Download resource pack
    </a>
    <a href="http://25.3.0.72:3000/rsspacksha1" class="list-group-item list-group-item-action">
      Check rss pack sha1
    </a>
    <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at
      eros</a> -->
  </div>
</div>
