<div class="container p-3">
  <div class="row mb-5">
    <div class="col">
      <h2>Download custom packs from <a href="https://vanillatweaks.net" target="_blank">Vanilla
          Tweaks</a>.</h2><br>
      <h5>Download this specific pack <a href="{{downloadurl}}/rsspack">here</a>.</h5>
    </div>
  </div>
  <div class="row row-cols-5">
    <div class="col pb-3" *ngFor="let item of apidata">
      <div class="card text-center">
        <img src="{{imageurl}}/rsspacks/{{item.filename}}.png" class="card-img-top p-3">
        <div class="card-body">
          <p class="card-text">{{item.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
