<div class="container p-3">
  <div class="row mb-5">
    <div class="col">
      <h2>
        My skins
      </h2>
    </div>
  </div>
  <div class="row row-cols-3">
    <div class="col pb-3" *ngFor="let item of data">
      <div class="card text-center">
        <img src="assets/{{item.file}}.png" class="card-img-top p-3">
        <div class="card-body">
          <p class="card-text">{{item.name}}</p>
          <p class="card-text"><a href="http://25.3.0.72:3000/skins/{{item.file}}" class="btn btn-outline-success">Download</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
